main{
    color: aliceblue;
    text-align: center;
}   h2{
    padding: 15px;
}

    ul{
        margin: 50px;
        text-align: left;
        border: 5px dashed rgb(146, 144, 144);
}
        li{
            padding: 15px;
            list-style: none;
    }
    